.table,
th,
td {
    border: 5px solid black;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th,
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color: black;
}