<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>

<body>
    <form action="/result" method="post">
        <label for="your_name">Your Name:</label>
        <input type="text" name="your_name">

        <p>Dojo Locations:</p>
        <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Brazil">Brazil</option>
            <option value="Burundi">Burundi</option>
            <option value="Palestine">Palestine</option>
        </select>

        <p>Favorite Language:</p>
        <select name="language">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="PHP">PHP</option>
        </select>

        <p>Comment (optional):</p>
        <textarea name="comment"></textarea>
        <br>
        <input type="submit" value="Button" name="Button">
    </form>
</body>

</html>