<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <table class="table1">
            {% for i in range(horizontal)%}
            <tr>
                {% for x in range(vertical)%}
                <td class="box{{(i+x)%2+1}}"></td>
                {%endfor%}
            </tr>
            {%endfor%}
        </table>
    </div>

</body>

</html>